<% include ./partials/header %>

<div class="container_content">
<h1>Welcome <%= user.firstname %></h1>

<p>This is your profile page and download area. Please edit your profile as needed.</p>


</div>

<div class="heading">

<div><%= user.firstname %></div>
<div><%= user.lastname %></div>
<div><%= user.companyname %></div>
<div><%= user.title %></div>
<div><%= user.address %></div>
<div><%= user.city %></div>
<div><%= user.state %></div>
<div><%= user.country %></div>
<div><%= user.phone %></div>
<div><%= user.email %></div>
<div><%= user.website %></div>
<div><%= user.system %></div>
<div><%= user.created %></div>

<div>


<% include ./partials/footer %>