<% include ./partials/header %>

<div class="heading">
<h1>Welcome <%= user.firstname %></h1>

<p>This is your profile page and download area. Please edit your profile as needed.</p>
</div>

<div class="container_content">

<div>First Name: <%= user.firstname %></div>
<div>Last Name: <%= user.lastname %></div>
<div>Company: <%= user.companyname %></div>
<div>Job Title: <%= user.title %></div>
<div>Address: <%= user.address %></div>
<div>Zip: <%= user.zip %></div>
<div>City: <%= user.city %></div>
<div>State: <%= user.state %></div>
<div>Country: <%= user.country %></div>
<div>Phone: <%= user.phone %></div>
<div>Email: <%= user.email %></div>
<div>Website: <%= user.website %></div>
<div>System Currently Using: <%= user.system %></div>
<div>
    <a href="/profile/<%= user._id %>"><button>Edit</button></a>

    <form id="delete" action="/loggedin/<%= user._id %>?_method=DELETE" method="POST">
        <button>Delete Profile</button>
    </form>
<div>


<% include ./partials/footer %>